.main-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-searcher{
    width: 30%;
    margin: 50px;
    padding: 20px;
    border: 3px solid #000000;
    border-radius: 10px;
}

.input-grade {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 5px
}

.container-alumno {
    margin: 5px;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 8px;
}